.Button{
    -fx-text-fill: red;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
   -fx-border-color:red;
   -fx-background-color:null;
}

.Button:hover{
  -fx-background-color: red;
  -fx-text-fill:white;
  -fx-font-weight:bold;

}